﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="Presentation.Index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label3" runat="server" Text="COMPAÑIA DE ARTURO CALLE"></asp:Label><br />
            <asp:Label ID="Label1" runat="server" Text="Ingrese el típo de traje"></asp:Label>
            <asp:TextBox ID="TBTraje" runat="server"></asp:TextBox><br />
            <asp:Label ID="Label2" runat="server" Text=" Ingrese el del Precio traje"></asp:Label>
            <asp:TextBox ID="TBPriceTraj" runat="server"></asp:TextBox><br />
            <br /><br />
            <asp:Button ID="Btncalculate" runat="server" Text="Calcular" OnClick="Btncalculate_Click" /><br />

           <asp:Label ID="LblMsj1" runat="server" Text="El descuento de la prenda es:"></asp:Label><br /> 
         <br />
          <asp:Label ID="LblMsj3" runat="server" Text="El valor total a pagar es:"></asp:Label><br />
            
        </div>
    </form>
</body>
</html>
